body,
html,
#root {
  margin-top: 1.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease;
}

.light {
  --bg: #f9f9f9;
  --text: #111;
  --card: #ffffff;
  --die-bg: #3cb371;
}

.dark {
  --bg: #111;
  --text: #eee;
  --card: #222;
  --die-bg: #2e8b57;
}

div {
  background-color: var(--bg);
  color: var(--text);
}

header,
footer {
  text-align: center;
  margin: 1em;
}
.theme-toggle {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: rgb(0, 208, 255);
}
